*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

header{
padding:20px 40px;
background:#020617;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
text-decoration:none;
color:white;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:48px;
}

section{
padding:80px 40px;
max-width:900px;
margin:auto;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.project-card a{
color:#38bdf8;
text-decoration:none;
}

.skills-list{
display:flex;
flex-wrap:wrap;
gap:15px;
margin-top:20px;
}

.skills-list span{
background:#1e293b;
padding:10px 15px;
border-radius:8px;
}